{% extends "base.html" %}
{% load static bootstrap4 %}
{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <form method="post" action="" class="pt-4">{% csrf_token %}
                  {% bootstrap_field new_message_form.post show_label=False field_class='input-group input-group-lg' placeholder="What's under your skin?" addon_after_class='input-group-btn' addon_after='<button class="btn btn-secondary" type="submit">Post</button>' %}
                </form>
            </div>
        </div>
        {% for post in all_posts %}
        <div class="row pt-4">
            <div class="col-sm-4">
                {% if post.posted_by.profile_pic %}
                    <img src="{{ post.posted_by.profile_pic.url }}" class="img-thumbnail" alt="Person image">
                {% endif %}
           </div>
           <div class="col-sm-8">
              <h6>{{ post.posted_by.name }}</h6>
              <p>
               {{ post.post }}
               {% if post.peeves %}
                   {% for peeve in post.peeves.all %}
                        <a href="#"> {{ peeve }}</a>
                   {% endfor %}
               {% endif %}
              </p>
               <i class="fa fa-thumbs-o-down fa-lg"></i> 4
               <form method="post" action="{% url 'posts:commiserate' post.id %}">{% csrf_token %}
                    {% bootstrap_field commiserate_form.post show_label=False placeholder='Commiserate ...' field_class='mt-3'%}
               </form>
           </div>
       </div>
       {% for response in post.responses.all %}
           <div class="row pt-4">
               <div class="col-sm-2"></div>
               <div class="col-sm-2 pl-0">
                    <img src="{{ response.posted_by.profile_pic.url }}" class="img-thumbnail" width="100" alt="Person image">
               </div>
               <div class="col-sm-8">
                  <h6>{{ response.posted_by.name }}</h6>
                  <p>{{ response.post }}</p>
                   <i class="fa fa-thumbs-o-down fa-lg"></i> 1
               </div>
           </div>
       {% endfor %}
       {% endfor %}
    </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}
