{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{% if object.name %}{{ object.name }}{% else %}{{ object.username }}{% endif %}</h2>
      {% if object.profile_pic %}
      <img src="{{ object.profile_pic.url }}" alt="Profile photo" class="img-thumbnail">
      {% endif %}
      <br>
      <br>
      {% if object.peeves %}
          <p>Things I cannot abide:</p>
          {% for peeve in object.peeves.all %}
            <a class="btn btn-danger" href="#">{{ peeve }}</a>
          {% endfor %}
      {% endif %}
    </div>
  </div>
  <br>
{% if object == request.user %}
<!-- Action buttons -->
<div class="row">
  <div class="col-sm-12">
    <h3>Update:</h3>
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

